/* Tablet */
@media (min-width: 724px) {
  .aside-text {
    max-width: 52ch;
    margin: auto;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  /* Major Layout Shift */
  body {
    max-width: fit-content;
  }

  header {
    margin-bottom: 9.2rem;
  }

  #hero,
  article:first-of-type {
    margin-bottom: 12rem;
  }

  aside {
    margin-top: 12rem;
    margin-bottom: 15rem;
  }

  /* Minor Layout Shift */
  #hero h1 {
    margin-bottom: 2.4rem;
  }
}
