/* Tablet */
@media (min-width: 724px) {
  .aside-text {
    max-width: 52ch;
    margin: auto;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  body {
    padding: 0 1rem;
  }

  header {
    margin-bottom: 9.2rem;
  }

  #hero,
  article:first-of-type {
    margin-bottom: 12rem;
  }

  aside {
    margin-top: 12rem;
    margin-bottom: 15rem;
  }
}
