@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat:wght@300;600&display=swap');

:root {
  font-size: 10px;
  --background-grey: #f0f4f8;
  --primary-text: #243b53;
	--accent-text: #8D2B0B;
	--background-accent: #F7C948;
}

body {
  font-size: 1.6rem;
  background-color: var(--background-grey);
  color: var(--primary-text);
}

header, main {
	padding: 0 1.8rem;
}

/* Header */
header {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  font-weight: 300;
  padding-top: 1.8rem;
	margin-bottom: 3rem;
}

header .big-logo {
  font-weight: 600;
  margin-right: 0.4rem;
}

/* Hero Section */
#hero {
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
}

#hero h1 {
	font-size: 3.2rem;
	line-height: 120%;
	margin-bottom: 1.2rem;
}

#hero h1 span {
	font-weight: 700;
}

.subheading {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 1.4rem;
	margin-bottom: 2.4rem;
}

.primary {
	padding: 0.8rem 1.6rem;
	font-size: inherit;
	font-weight: 600;
	color: var(--accent-text);
	background: var(--background-accent);
	border: 0;
	border-radius: 1rem;
	box-shadow: 1px 4px 8px rgba(141, 43, 11, 0.3);
}
