@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat:wght@300;600;700&display=swap');

:root {
	font-size: 10px;
	--background-grey: #f0f4f8;
	--primary-text: #243b53;
	--secondary-text: #486581;
	--light-text: #8B9FB0;
	--accent-text: #8D2B0B;
	--background-accent: #F7C948;
	--card-border: #BCCCDC;
	--accent-blue-text: #186FAF;
	--accent-blue-bg: #2680C2;
}

body {
	box-sizing: border-box;
	font-size: 1.6rem;
	background-color: var(--background-grey);
	color: var(--primary-text);
	font-family: 'Montserrat', sans-serif;
}

header,
main {
	padding: 0 1.8rem;
}

/* Header */
header {
	font-size: 2.4rem;
	font-weight: 300;
	padding-top: 1.8rem;
	margin-bottom: 3rem;
}

header .big-logo {
	font-weight: 600;
	margin-right: 0.4rem;
}

/* Hero Section */
#hero {
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	margin-bottom: 6rem;
}

#hero h1 {
	font-size: 3.2rem;
	line-height: 120%;
	margin-bottom: 1.2rem;
}

#hero h1 span {
	font-weight: 700;
}

.subheading {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 1.4rem;
	margin-bottom: 2.4rem;
	color: var(--secondary-text);
}

.primary {
	padding: 0.8rem 1.6rem;
	font-size: inherit;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	color: var(--accent-text);
	background: var(--background-accent);
	border: 0;
	border-radius: 1rem;
	box-shadow: 1px 4px 8px rgba(141, 43, 11, 0.3);
	cursor: pointer;
}

/* Popular Section */
.article-title,
.card .action {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 1.2rem;
}

.article-title h2 {
	font-family: 'Libre Baskerville', serif;
	font-weight: 700;
	font-size: 1.8rem;
}

.article-title p {
	color: var(--light-text);
	font-size: 1.4rem;
	cursor: pointer;
}

/* Card */
.card-container {
	display: flex;
	justify-content: center;
}

.card {
	padding: 1.6rem;
	border: 1px solid var(--card-border);
	border-radius: 0.8rem;
	max-width: min-content;
}

.card img {
	border-radius: 0.8rem;
}

.card h3 {
	font-size: 2rem;
	font-weight: 700;
	margin: 1rem 0;
}

.card>p {
	color: var(--secondary-text);
	line-height: 120%;
	margin-bottom: 2rem;
}

.card .action {
	margin: 0;
}

.card .action p {
	font-weight: 700;
	color: var(--accent-blue-text);
}

.btn-action {
	background-color: var(--accent-blue-bg);
	color: #fff;
	border: 0;
	padding: 0.6rem 2.8rem;
}